* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: azure;
    color: black;
}

.site-header {
    background-color: #f7bdf2;
    color: #110f0f;
    padding: 1rem 0;
    text-align: center;
}

.site-title {
    margin-bottom: 10px;
    font-size: 2rem;
}

.main-nav .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.main-nav {
    margin: 0 15px;
}

.main-nav .nav-link {
    color: rgb(11, 12, 12);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 5px;
}

.main-nav .nav-link:hover {
    color: #a14a9c;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.article {
    flex: 3;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.article-header {
    border-bottom: 2px solid #cecaca;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.article-title {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.article-meta {
    color: #777;
    font-size: 0.9rem;
}

.article-section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 10px;
}

.section-text {
    margin-bottom: 15px;
    color: #444;
    line-height: 1.0;
}

.image-figure {
    margin-top: 20px 0;

}

.article-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.image-caption{
    text-align: center;
    font-size: 0.10rem;
    color: #777;
    margin-top: 5px;
}

.sidebar {
    flex: 1;
    background-color: #e6e4e4;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.sidebar-title {
    font-size: 1.6em;
    color: #333;
    margin-bottom: 10px;
}

.sidebar-text {
    color: #555;
    line-height: 1.5;
}

.site-footer {
    background-color: #c2c2c2;
    color: #110f0f;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}